@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    line-height: 1.6;
}
h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0,0,0.2);
    border-radius: 5px;
    font-size:18px;
    color: #333;
}
#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0,0,0.2);
    border-radius: 5px;
    margin-left: 10px;
    /* transition: all 0.4s ease-in-out; */
}
#search-button:hover{
    background-color: #206151;
}
#search-button:active{
    scale: 0.97;
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0,0,0.2);
    overflow: hidden;
}
.search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}
.search-result:hover img{
   opacity: 0.8;
}
.search-result a{
   font-size: 20px;
   text-decoration: none;
   color: #333;
   display: block;
   padding: 10px;
   text-transform: capitalize;

}
#show-more-button{
    display: block;
    padding: 10px 20px;
    background-color: #138065;
    color: white;
    border: none;
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0,0,0.2);
    border-radius: 5px;
    display: none;
}
#show-more-button:hover{
    background-color: #206151;
}
#show-more-button:active{
    scale: 0.97;
}

/* media queries */
@media screen and (max-width: 768px){
    .search-result{
        width: 45%;
    }
}
@media screen and (max-width: 480px){
    h1{
        font-size: 20px;
    }
    .search-result{
        width: 100%;
    }
    #search-input{
        font-size:12px;
    }
    #search-button{
        font-size: 12px;
    }
}